<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息管理系统</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <script type="application/javascript" src="/static/js/common.js"></script>
</head>
<body>
<div class="common">
    <div class="header">
        <div class="h-title"><h2>欢迎来到学生信息管理系统</h2></div>
    </div>
    <div class="content">
        <div class="content-left">
            <div class="nav"></div>
        </div>
        <div class="content-right">
            <h3>请选择你要执行的功能</h3><br>
            <a href="/add/">增加学生信息</a>
            <a href="/query/">查询学生信息</a>
            <a href="/delete/">删除学生信息</a>
            <a href="/update/">修改学生信息</a>
        </div>
    </div>
    <div class="footer">
        <div class="f-center"><p>版权归 ChangWei 技术支持QQ:1369990551</p></div>
    </div>
</div>
</body>
</html>