<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询学生信息</title>
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
<div class="common">
    <div class="stu-header">
        <h1>请在下列信息栏中填入需要查询的学生基本信息</h1>
    </div>
    <div class="stu-center">
        <div class="stu-form">
            <div class="stu-line">
                <label>姓名</label>
                <input type="text" id="name" maxlength="20" placeholder="输入'all'查询所有">
                <button id="query-btn" onclick="query_stu()" class="stu-btn">查询</button>
            </div>
        </div>
        <div class="stu-line">
            {% if stu is not None %}
                <h4>name = {{ stu.name }} <br> age = {{ stu.age }} <br> learn = {{ stu.learn }} </h4>
            {% endif %}
        </div>
        <div class="stu-table" id="div_stu_table">
            {#            <h4>name = {{ stu.name }} <br> age = {{ stu.age }} <br> learn = {{ stu.learn }} </h4>#}
            {#            表格测试#}
            <table summary="查询结果列表" class="stu-table">
                <caption>学生信息查询结果列表</caption> <!-- caption 标签必须紧随 table 标签之后。您只能对每个表格定义一个标题。通常这个标题会被居中于表格之上。 -->
                <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>学科</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>{{ stu.name }}</th>
                    <td>{{ stu.age }}</td>
                    <td>{{ stu.learn }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-top: 20px;position: center;text-align: center">
            <a href="/index/">返回主页</a>
        </div>
    </div>
    <div class="stu-footer">
        <div class="f-center"><p>版权归 ChangWei 技术支持QQ:1369990551</p></div>
    </div>
</div>
</body>
<script>

    //点击提交发送get请求到数据库 type为1则是添加到数据库，用于判定到底是跳转页面还是添加数据库，因为是同一个url
    function query_stu() {
        var name = document.getElementById("name").value;
        window.location.href = "http://127.0.0.1:8001/query?name=" + name + "&type1=1";
    }

</script>
</html>